/*
Cores
*/

$backgroundSidebar: #D9D9D9;
$backgroundContent: #F5F5F5;
$linkRightcontent: red; //core do link do content direito
$linkLeftSidebar: blue; //core do link do left side content
$borderColor:black;
